+-------------------------------------------------------------+
| unixODBC-GUI-Qt                                             |
+-------------------------------------------------------------+

README
distribution
---------------------------------------------------------------

Description:

	This readme is for those interested in *making* a 
	unixODBC-GUI-Qt	distribution of some sort.
	
Linux
-----
	
Source via svn:
      
	see the README.svn
	
Source 'tar-ball':

	1. download source from sourceforge via svn
	2. cd <sources>
	3. make -f Makefile.svn
	4. make dist
	5. cd ../
	6. mv <sources> unixODBC-GUI-Qt-<version>
	7. tar -c unixODBC-GUI-Qt-<version> > unixODBC-GUI-Qt-<version>.tar
	8. gzip unixODBC-GUI-Qt-<version>.tar
	
Binary + Source via RPM:

	1. cd /usr/src/..../SOURCES
	2. get (or create) source tar-ball
	3. tar zxvf unixODBC-GUI-Qt-<version>.tar.gz
	4. rpm -ba unixODBC-GUI-Qt-<version>/unixODBC-GUI-Qt.spec 

	NOTE: Use "rpm -bb" if you just want a binary dist.

Windows
-------

        ToDo

---------------------------------------------------------------
Peter Harvey

